<ion-header>
  <ion-navbar>
    <ion-title>
      Consultar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label>Selecione a marca</ion-label>
  <select-searchable
        item-content
        [(ngModel)]="marca"
        [items]="marcas"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="changeModels($event)">
  </select-searchable>
</ion-item><br>
<ion-item>
  <ion-label>{{labelModelo}}</ion-label>
  <select-searchable
        item-content
        [(ngModel)]="modelo"
        [items]="modelos"
        itemValueField="id"
        itemTextField="name"
        [disabled]="modeloIsDisabled"
        [canSearch]="true"
        (onChange)="changeYears($event)">
  </select-searchable>
</ion-item><br>
<ion-item>
  <ion-label>{{labelAno}}</ion-label>
  <select-searchable
        item-content
        [(ngModel)]="ano"
        [items]="anos"
        itemValueField="id"
        [disabled]="anoIsDisabled"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="enableSubmit($event)">
  </select-searchable>
</ion-item>
<br>
<button ion-button full color="primary" [disabled]="submitIsDisabled" (click)="submit()">{{labelButton}}</button>
<br>
<br>
<!--"{
  "Valor":"R$ 42.933,00",
  "Marca":"Acura",
  "Modelo":"NSX 3.0",
  "AnoModelo":1995,
  "Combustivel":"Gasolina",
  "CodigoFipe":"038001-6",
  "MesReferencia":"novembro de 2018 ",
  "Autenticacao":"vkp72tjjyn",
  "TipoVeiculo":1,
  "SiglaCombustivel":"G",
  "DataConsulta":"domingo, 11 de novembro de 2018 01:01"}"-->
<ion-card [hidden]="cardDisabled">
  <ion-card-header>
    Resultado
  </ion-card-header>
  <ion-card-content>
    <table width="100%">
      <tr>
        <td>Valor</td>
        <td>{{details.Valor}}</td>
      </tr>
      <tr>
        <td>Marca</td>
        <td>{{details.Marca}}</td>
      </tr>
      <tr>
        <td>Modelo</td>
        <td>{{details.Modelo}}</td>
      </tr>
      <tr>
        <td>AnoModelo</td>
        <td>{{details.AnoModelo}}</td>
      </tr>
      <tr>
        <td>Combustivel</td>
        <td>{{details.Combustivel}}</td>
      </tr>
      <tr>
        <td>SiglaCombustivel</td>
        <td>{{details.SiglaCombustivel}}</td>
      </tr>
      <tr>
        <td>CodigoFipe</td>
        <td>{{details.CodigoFipe}}</td>
      </tr>
      <tr>
        <td>MesReferencia</td>
        <td>{{details.MesReferencia}}</td>
      </tr>
      <tr>
        <td>DataConsulta</td>
        <td>{{details.DataConsulta}}</td>
      </tr>
      <tr>
        <td>Autenticacao</td>
        <td>{{details.Autenticacao}}</td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>
</ion-content>
