<!--
  Generated template for the ModelsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{id_year}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-list>
        <ion-item *ngFor="let data of modelsList">
              <div id="label">{{data.Label}}</div>
              <p>Ano:         {{data.ano_modelo}}  &nbsp;&nbsp; 
                 Combustível: {{data.combustivel}} &nbsp;&nbsp;
                 Preço:       {{data.preco}}
              </p>
            <!--<button ion-button clear item-end>Detalhes</button>-->
        </ion-item>
    </ion-list>
</ion-content>
