<ion-header>
  <ion-navbar>
    <ion-title>Navegar</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterList($event)" placeholder="Pesquisar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list id="carList">
      <ion-item *ngFor="let data of carList">
          <ion-thumbnail item-start>
              <img src='{{data.imageURL}}'>
          </ion-thumbnail>
          <h2>{{data.name}}</h2>
          <p> • <!-- media de preços/ preço min e preço max--></p>
          <button ion-button clear item-end (click)="detailsPage(data.id, data.name, data.imageURL);">Ver</button>
      </ion-item>
    </ion-list>
</ion-content>
