
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item *ngFor="let data of yearList">
          <h2>{{data.name}}</h2>
          <p>{{data.preco}}</p>
	  <!--<button ion-button clear item-end >Detalhes</button>-->
      </ion-item>
    </ion-list>
</ion-content>
